<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Player Name</th>
      <th>Team Owner</th>
      <th>Total Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Abdul Samad</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Abhishek Sharma</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Adam Zampa</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Adil Rashid</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Aiden Markram</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Ajinkya Rahane</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Akash Deep</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Alzarri Joseph</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Ambati Rayudu</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Amit Mishra</th>
      <th>Balaji</th>
      <th>42.0</th>
    </tr>
    <tr>
      <th>Andre Russell</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Anmolpreet Singh</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Anrich Nortje</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Anukul Roy</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Arjun Tendulkar</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Arshdeep Singh</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Avesh Khan</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Axar Patel</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Ayush Badoni</th>
      <th>Aswin</th>
      <th>2.0</th>
    </tr>
    <tr>
      <th>Ben Storkes</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Bhanuka Rajapaksa</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Bhuvneshwar Kumar</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Daniel Sams</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>David Miller</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>David Warner</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>David Wiese</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Deepak Chahar</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Deepak Hooda</th>
      <th>Vignesh</th>
      <th>2.0</th>
    </tr>
    <tr>
      <th>Devdutt Padikkal</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Devon Conway</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Dinesh Karthik</th>
      <th>Sakthi</th>
      <th>51.0</th>
    </tr>
    <tr>
      <th>Donovan Ferreira</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Dwaine Pretorius</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Faf du Plessis</th>
      <th>Ramkumar</th>
      <th>84.0</th>
    </tr>
    <tr>
      <th>Fazalhaq Farooqi</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Glenn Maxwell</th>
      <th>Pradeep</th>
      <th>26.0</th>
    </tr>
    <tr>
      <th>Glenn Phillips</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Hardik Pandya</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Harry Brook</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Harshal Patel</th>
      <th>Meyar</th>
      <th>27.0</th>
    </tr>
    <tr>
      <th>Hrithik Shokeen</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Ishan Kishan</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Jason Behrendorff</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Jason Holder</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Jaydev Unadkat</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Jitesh Sharma</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Joe Root</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Jofra Archer</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Jos Buttler</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>KL Rahul</th>
      <th>Vignesh</th>
      <th>2.0</th>
    </tr>
    <tr>
      <th>KM Asif</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Kagiso Rabada</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Karn Sharma</th>
      <th>Senthil</th>
      <th>44.0</th>
    </tr>
    <tr>
      <th>Khaleel Ahmed</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Krishnappa Gowtham</th>
      <th>Ramkumar</th>
      <th>32.0</th>
    </tr>
    <tr>
      <th>Krunal Pandya</th>
      <th>Vignesh</th>
      <th>7.0</th>
    </tr>
    <tr>
      <th>Kuldeep Yadav</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Kumar Kartikeya</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Kyle Mayers</th>
      <th>Anand</th>
      <th>7.0</th>
    </tr>
    <tr>
      <th>Liam Livingstone</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Lungi Ngidi</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>MS Dhoni</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Maheesh Theekshana</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Mahipal Lomror</th>
      <th>Sakthi</th>
      <th>10.0</th>
    </tr>
    <tr>
      <th>Mandeep Singh</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Manish Pandey</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Mark Wood</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Matthew Wade</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Mayank Agarwal</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Mayank Markande</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Mitchell Marsh</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Mitchell Santner</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Moen Ali</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Mohammed Shami</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Mohammed Siraj</th>
      <th>Sakthi</th>
      <th>22.0</th>
    </tr>
    <tr>
      <th>Murugan Ashwin</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Mustafizur Rahman</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>N Jagadeesan</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Nathan Ellis</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Nehal Wadhera</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Nicholas Pooran</th>
      <th>Aswin</th>
      <th>17.0</th>
    </tr>
    <tr>
      <th>Nitish Rana</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Piyush Chawla</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Prabhsimran Singh</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Prithvi Shaw</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Quinton De Kock</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>R Sai Kishore</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rahmanullah Gurbaz</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rahul Chahar</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rahul Tewatia</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rahul Tripathi</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rajat Patidar</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rajvardhan Hangargekar</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rashid Khan</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Ravi Bishnoi</th>
      <th>Senthil</th>
      <th>47.0</th>
    </tr>
    <tr>
      <th>Ravichandran Ashwin</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rilee Rossouw</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rinku Singh</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rishi Dhawan</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Riyan Parag</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rohit Sharma</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Rovman Powell</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Ruturaj Gaikwad</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Sai Sudharsan</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Sam Curran</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Sanju Samson</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Sarfaraz Khan</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Shahrukh Khan</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Shardul Thakur</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Shikhar Dhawan</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Shimron Hetmyer</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Shivam Dube</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Shubman Gill</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Sikandar Raza</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Sunil Narine</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Suryakumar Yadav</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Suyash Prabhudessai</th>
      <th>Sakthi</th>
      <th>13.0</th>
    </tr>
    <tr>
      <th>T Natarajan</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Tilak Varma</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Tim David</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Tim Southee</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Trent Boult</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Tushar Deshpande</th>
      <th>Anand</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Umesh Yadav</th>
      <th>Pradeep</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Umran Malik</th>
      <th>Ramkumar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Vicky Ostwal</th>
      <th>Balaji</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Vijay Shankar</th>
      <th>Vignesh</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Virat Kohli</th>
      <th>Anand</th>
      <th>51.0</th>
    </tr>
    <tr>
      <th>Wanindu Hasaranga</th>
      <th>Aswin</th>
      <th>31.0</th>
    </tr>
    <tr>
      <th>Washington Sundar</th>
      <th>Meyar</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Wriddhiman Saha</th>
      <th>Senthil</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Yash Dayal</th>
      <th>Sakthi</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Yash Thakur</th>
      <th>Vignesh</th>
      <th>12.0</th>
    </tr>
    <tr>
      <th>Yashasvi Jaiswal</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
    <tr>
      <th>Yuzvendra Chahal</th>
      <th>Aswin</th>
      <th>0.0</th>
    </tr>
  </tbody>
</table>