<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Rank</th>
      <th>Team Owner</th>
      <th>Total Points</th>
      <th>Previous Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>Ramkumar</th>
      <th>3135</th>
      <th>3019</th>
    </tr>
    <tr>
      <th>2</th>
      <th>Sakthi</th>
      <th>3024</th>
      <th>2928</th>
    </tr>
    <tr>
      <th>3</th>
      <th>Aswin</th>
      <th>3017</th>
      <th>2967</th>
    </tr>
    <tr>
      <th>4</th>
      <th>Meyar</th>
      <th>2707</th>
      <th>2680</th>
    </tr>
    <tr>
      <th>5</th>
      <th>Anand</th>
      <th>2695</th>
      <th>2637</th>
    </tr>
    <tr>
      <th>6</th>
      <th>Vignesh</th>
      <th>2501</th>
      <th>2478</th>
    </tr>
    <tr>
      <th>7</th>
      <th>Senthil</th>
      <th>2277</th>
      <th>2186</th>
    </tr>
    <tr>
      <th>8</th>
      <th>Balaji</th>
      <th>1836</th>
      <th>1794</th>
    </tr>
    <tr>
      <th>9</th>
      <th>Pradeep</th>
      <th>1648</th>
      <th>1622</th>
    </tr>
  </tbody>
</table>